@using Microsoft.AspNetCore.Components
@namespace Web_JbcHrms.Components.Reports

<div class="report-a4-container">
    <div class="report-a4-page">
        <header class="report-header">
            <div class="header-content">
                <div class="report-logo">
                    <img src="images/logo.svg" alt="JB Connect Ltd. Logo" style="max-width: 100%; max-height: 100%;" />
                </div>
            </div>
        <div class="header-divider"></div>
        </header>
        <section class="report-body">
            @ChildContent
        </section>

        <footer class="report-footer">
            <div class="footer-divider"></div>
            <div class="footer-content">
                <div class="footer-line">
                    Registered office: Tower- 52, Level-4, Block-C, Road-11 Banani, Dhaka-1213
                </div>
                <div class="footer-line">
                    Operational Office: House-61 (6&amp;7 Floor), Road-27, Block-K, Banani, Dhaka-1213
                </div>
                <div class="footer-line">
                    Email: info@jbc-bd.com | Contact: +88 01601699646
                </div>
            </div>
        </footer>
    </div>
</div>

                

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}