<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">HRMS</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="employees">
                <span class="bi bi-people-fill-nav-menu" aria-hidden="true"></span> Employees
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="salary-certificate">
                <span class="bi bi-file-earmark-text-fill-nav-menu" aria-hidden="true"></span> Salary Certificate
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="account-opening-letter">
                <span class="bi bi-envelope-paper-fill-nav-menu" aria-hidden="true"></span> Account Opening Letter
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
